# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Varios/JavaApplication1/nbproject/private/
/Varios/saludo3/nbproject/private/
/Varios/saludo3/build/
/PRACTICA 05/AptitudSufragar1/nbproject/private/
/PRACTICA 05/AptitudSufragar1/build/
/PRACTICA 05/ConvertidorTemp1/nbproject/private/
/PRACTICA 05/CuotaFija1/nbproject/private/
/PRACTICA 05/CuotaFija1/build/
/TALLER 05/CuotaFija1/build/
/TALLER 05/CuotaFija1/nbproject/private/
/TALLER 05/JavaApplication6/nbproject/private/
/TALLER 05/ValidarOrden1/nbproject/private/
/TALLER 05/ValidarOrden1/build/
/TALLER 05/NumeroMayor1/nbproject/private/
/TALLER 05/NumeroMayor1/build/
/PRACTICA 06/ListaImpares1/nbproject/private/
/PRACTICA 06/ListaImpares1/build/
/PRACTICA 06/ListaImpares2/nbproject/private/
/PRACTICA 06/ListaImpares2/build/
/PRACTICA 06/PromedioPares1/nbproject/private/
/PRACTICA 06/PromedioPares1/build/
/PRACTICA 06/PromedioPares1/dist/
/PRACTICA 06/ListaImpares2/dist/
/TALLER 06/ValidaFecha1/nbproject/private/
/TALLER 06/ValidaFecha1/build/
/TALLER 06/DuracionDescarga1/nbproject/private/
/TALLER 06/DuracionDescarga1/build/
/PRACTICA 07/Mult3Pares1/nbproject/private/
/PRACTICA 07/Mult3Pares1/build/
/PRACTICA 07/EstadNumeros3/nbproject/private/
/TALLER 06/EstadViaje1/nbproject/private/
/TALLER 06/EstadViaje1/build/
/TALLER 06/ValidaDivisor1/nbproject/private/
/TALLER 06/ValidaDivisor1/build/
/TALLER 06/BoletoEstadio3/nbproject/private/
/TALLER 06/BoletoEstadio3/build/
/PRACTICA 05/ConvertidorTemp1/build/
/TALLER 06/Calculadora1/nbproject/private/
/TALLER 06/Calculadora1/build/
/PRACTICA 07/EstadNumeros3/build/
/PRACTICA 08/Factorial1/nbproject/private/
/PRACTICA 08/Factorial1.2/nbproject/private/
/PRACTICA 08/Factorial1/build/
/TALLER 07/EstadNumeros1/nbproject/private/
/TALLER 07/EstadNumeros1/build/
/TALLER 07/EstadNumeros1/target/
/TALLER 07/Primo1/nbproject/private/
/TALLER 07/Primo1/build/
/TALLER 07/Primo2/nbproject/private/
/TALLER 07/Primo2/build/
/TALLER 07/Venta2/nbproject/private/
/TALLER 07/Venta2/build/
/TALLER 07/Factorial1/nbproject/private/
/TALLER 07/Factorial1/build/
/TALLER 07/EstadNumeros2/nbproject/private/
/TALLER 07/NumeroPerfecto1/nbproject/private/
/TALLER 07/MenuOpciones2/nbproject/private/
/TALLER 07/MenuOpciones2/build/
/TALLER 07/EstadNumeros2/build/
/Varios/ListaNumeros1/nbproject/private/
/Varios/ListaNumeros1/build/
/Varios/ListaNumeros1/dist/
/PRACTICA 09/ParesImpares1/nbproject/private/
/PRACTICA 09/ParesImpares1/build/
/Varios/NegativosEnMatriz1/nbproject/private/
/Varios/NegativosEnMatriz1/build/
/PRACTICA 10/EstadMatriz1/nbproject/private/
/PRACTICA 10/EstadMatriz1/build/
/TALLER 08/EdadExacta1/nbproject/private/
/TALLER 08/EdadExacta1/build/
/TALLER 08/EdadExacta1/dist/
/TALLER 08/EstadNumeros4/nbproject/private/
/TALLER 08/EstadNumeros4/build/
/TALLER 08/EstadNumeros4/dist/
/PRACTICA 07/EstadNumeros3/dist/
/TALLER 07/EstadNumeros2/dist/
/TALLER 08/Fibonacci1/nbproject/private/
/TALLER 08/Fibonacci1/build/
/TALLER 08/ListaNumPrimos1/nbproject/private/
/TALLER 08/ListaNumPrimos1/build/
/TALLER 08/ListaNumAbundantes1/nbproject/private/
/TALLER 08/EstadNotas1/nbproject/private/
/TALLER 08/EstadNotas1/build/
/TALLER 08/ListaNumAbundantes1/build/
/TALLER 08/ListaNumAbundantes1/dist/
/TALLER 08/BusquedaRepetidos1/nbproject/private/
/TALLER 08/BusquedaRepetidos1/build/
/TALLER 08/SueldoMasAlto1/nbproject/private/
/TALLER 08/SueldoMasAlto1/build/
/Varios/PruebaPrintf1/nbproject/private/
/Varios/PruebaPrintf1/build/
/Varios/PruebaPrintf1/dist/
/Varios/SaludoDespedida1/nbproject/private/
/Varios/SaludoDespedida1/build/
/Varios/Primo4/nbproject/private/
/Varios/Primo4/build/
/PRACTICA 11/ListaNumPrimos2/nbproject/private/
/PRACTICA 11/ListaNumPrimos2/build/
/PRACTICA 11/ListaNumPrimos2/dist/
/PRACTICA 11/ListaFactorial1/nbproject/private/
/PRACTICA 11/ListaFactorial1/build/
/TALLER 09/CuentaCifras1/nbproject/private/
/TALLER 09/CuentaCifras1/build/
/TALLER 09/CuentaCifras1/dist/
/TALLER 09/DecimalABinario1/nbproject/private/
/TALLER 09/DecimalABinario1/build/
/TALLER 09/SeriePi2/nbproject/private/
/TALLER 09/SeriePi2/build/
/TALLER 09/ListaCuadradosPerfectos1/nbproject/private/
/TALLER 09/ListaCuadradosPerfectos1/build/
/TALLER 09/ListaCuadradosPerfectos1/dist/
/TALLER 09/Venta5/nbproject/private/
/TALLER 09/Venta5/build/
/TALLER 09/Venta5/dist/
/TALLER 09/SumatoriaMatriz1/nbproject/private/
/TALLER 09/SumatoriaMatriz1/build/
/TALLER 09/SumatoriaMatriz2/nbproject/private/
/TALLER 09/SumatoriaMatriz2/build/
/TALLER 09/SumatoriaMatriz2/dist/
/PRACTICA 12/RangoVector1/nbproject/private/
/PRACTICA 12/OrdenarNumeros2/nbproject/private/
/PRACTICA 12/RangoVector1/build/
/PRACTICA 12/RangoVector1/dist/
/TALLER 10/NumeroCapicua1/nbproject/private/
/TALLER 10/NumeroCapicua1/build/
/TALLER 10/SeriePiWallis1/nbproject/private/
/TALLER 10/SeriePiWallis1/build/
/TALLER 10/SeriePiWallis1/dist/
/TALLER 10/PiramideInvertida1/nbproject/private/
/TALLER 10/PiramideInvertida1/build/
/TALLER 10/PromedioColMatriz1/nbproject/private/
/TALLER 10/PromedioColMatriz1/build/
/TALLER 10/PromedioColMatriz1/dist/
/TALLER 10/OrdenarNumeros1/nbproject/private/
/TALLER 10/OrdenarNumeros1/build/
/TALLER 10/ListaNumAbundantes2/nbproject/private/
/TALLER 10/ListaNumAbundantes2/build/
/TALLER 10/CuentaPrimos2/nbproject/private/
/TALLER 10/CuentaPrimos2/build/
/TALLER 10/DecimalABinario2/nbproject/private/
/TALLER 10/DecimalABinario2/build/
/PRACTICA 13/Potencia1/nbproject/private/
/PRACTICA 13/Potencia1/build/
/PRACTICA 13/Potencia2/nbproject/private/
/PRACTICA 13/Potencia2/build/
/PRACTICA 14/Provincias1/nbproject/private/
/PRACTICA 14/Provincias1/build/
/PRACTICA 14/Provincias1/dist/
/PRACTICA 14/Provincias2/nbproject/private/
/PRACTICA 14/Provincias2/build/
/PRACTICA 14/Provincias3/nbproject/private/
/PRACTICA 14/Provincias3/build/
/PRACTICA 12/OrdenarNumeros2/build/
