# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Varios/JavaApplication1/nbproject/private/
/Varios/saludo3/nbproject/private/
/Varios/saludo3/build/
/PRACTICA 05/AptitudSufragar1/nbproject/private/
/PRACTICA 05/AptitudSufragar1/build/
/PRACTICA 05/ConvertidorTemp1/nbproject/private/
/PRACTICA 05/CuotaFija1/nbproject/private/
/PRACTICA 05/CuotaFija1/build/
/TALLER 05/CuotaFija1/build/
/TALLER 05/CuotaFija1/nbproject/private/
/TALLER 05/JavaApplication6/nbproject/private/
/TALLER 05/ValidarOrden1/nbproject/private/
/TALLER 05/ValidarOrden1/build/
/TALLER 05/NumeroMayor1/nbproject/private/
/TALLER 05/NumeroMayor1/build/
/PRACTICA 06/ListaImpares1/nbproject/private/
/PRACTICA 06/ListaImpares1/build/
/PRACTICA 06/ListaImpares2/nbproject/private/
/PRACTICA 06/ListaImpares2/build/
/PRACTICA 06/PromedioPares1/nbproject/private/
/PRACTICA 06/PromedioPares1/build/
/PRACTICA 06/PromedioPares1/dist/
/PRACTICA 06/ListaImpares2/dist/
/TALLER 06/ValidaFecha1/nbproject/private/
/TALLER 06/ValidaFecha1/build/
/TALLER 06/DuracionDescarga1/nbproject/private/
/TALLER 06/DuracionDescarga1/build/
/PRACTICA 07/Mult3Pares1/nbproject/private/
/PRACTICA 07/Mult3Pares1/build/
/PRACTICA 07/EstadNumeros3/nbproject/private/
/TALLER 06/EstadViaje1/nbproject/private/
/TALLER 06/EstadViaje1/build/
/TALLER 06/ValidaDivisor1/nbproject/private/
/TALLER 06/ValidaDivisor1/build/
/TALLER 06/BoletoEstadio3/nbproject/private/
/TALLER 06/BoletoEstadio3/build/
/PRACTICA 05/ConvertidorTemp1/build/
/TALLER 06/Calculadora1/nbproject/private/
/TALLER 06/Calculadora1/build/
/PRACTICA 07/EstadNumeros3/build/
/PRACTICA 08/Factorial1/nbproject/private/
/PRACTICA 08/Factorial1.2/nbproject/private/
/PRACTICA 08/Factorial1/build/
/TALLER 07/EstadNumeros1/nbproject/private/
/TALLER 07/EstadNumeros1/build/
/TALLER 07/EstadNumeros1/target/
/TALLER 07/Primo1/nbproject/private/
/TALLER 07/Primo1/build/
/TALLER 07/Primo2/nbproject/private/
/TALLER 07/Primo2/build/
/TALLER 07/Venta2/nbproject/private/
/TALLER 07/Venta2/build/
/TALLER 07/Factorial1/nbproject/private/
/TALLER 07/Factorial1/build/
/TALLER 07/EstadNumeros2/nbproject/private/
/TALLER 07/NumeroPerfecto1/nbproject/private/
/TALLER 07/MenuOpciones2/nbproject/private/
/TALLER 07/MenuOpciones2/build/
/TALLER 07/EstadNumeros2/build/
/Varios/ListaNumeros1/nbproject/private/
/Varios/ListaNumeros1/build/
/Varios/ListaNumeros1/dist/
/PRACTICA 09/ParesImpares1/nbproject/private/
/PRACTICA 09/ParesImpares1/build/
